<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZZmTBS7fImVpCmUGA8P3MXrkki35wbJg</string>
	<key>GCM_SENDER_ID</key>
	<string>444454753494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daaem.task.ios</string>
	<key>PROJECT_ID</key>
	<string>daaem-task</string>
	<key>STORAGE_BUCKET</key>
	<string>daaem-task.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444454753494:ios:c534f05e12d71f1db6e577</string>
</dict>
</plist>